.inner-pane {
}

.background-pane {
}

.thumbnail-image {
}

.author-avatar-image {
}

.author-name {
  /*-fx-padding: 0 0 0 10px;*/
}

.title > Text {
  -fx-fill: dodgerblue;
}

.description-text {
}

.field-container {
}

.image {
}

.footer-image {
}

.footer-text {
}

.variable {
  -fx-fill: tomato;
}

.too-long {
  -fx-effect: dropshadow(gaussian, indianred, 10, 0.5, 0, 0);
}